<h1>Listing bilhetes</h1>

<table>
  <tr>
    <th>Usuario</th>
    <th>Tipo</th>
    <th>Concurso inicial</th>
    <th>Concurso final</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bilhetes.each do |bilhete| %>
  <tr>
    <td><%= bilhete.usuario %></td>
    <td><%= bilhete.tipo %></td>
    <td><%= bilhete.concurso_inicial %></td>
    <td><%= bilhete.concurso_final %></td>
    <td><%= link_to 'Show', bilhete %></td>
    <td><%= link_to 'Edit', edit_bilhete_path(bilhete) %></td>
    <td><%= link_to 'Destroy', bilhete, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bilhete', new_bilhete_path %>
